[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wheel = "==0.38.0"

[dev-packages]
pytest = "~=7.2.0"
flake8 = "~=5.0.4"
boto3 = "~=1.24.92"
awswrangler = "~=2.17.0"
aws-lambda-powertools = "~=1.31.1"
boto3-stubs = {version = "~=1.24.92", extras = ["all"]}
moto = "~=4.0.7"
pyparsing = "~=3.0.9"

[requires]
python_version = "3.9"
